name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.22

      - name: Build
        run: go build -v ./...

      - name: Generate Testfile by PigeonJS
        run: node testfiles/generate.js

      - name: Test
        run: go test -v -race -coverprofile=coverage.out -covermode=atomic ./...

      - name: Validate by PigeonJS
        run: node testfiles/validate.js

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          skip-cache: true
          skip-save-cache: true

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}